name: Deploiement DocFX

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configuration de .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.x'

      - name: Restauration et Compilation du projet
        run: |
          dotnet restore EasySave.slnx
          dotnet build EasySave.slnx --configuration Release --no-restore

      - name: Installation de DocFX
        run: dotnet tool update -g docfx

      - name: Build de la documentation
        run: docfx docfx.json

      - name: Upload de l'artefact Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: '_site'

  deploy:
    if: github.ref == 'refs/heads/main'
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploiement sur GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
